.bottom-navigation {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  z-index: 1000;
}

.nav-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #eecf03;
  transition: transform 0.3s, color 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-item:hover {
  transform: scale(1.2);
  color: #ed8e00;
}
